{# <div class="card-parent">
  <div class="card-main-container">
      <div class="card-container">
        <div class="card-top">
               {% if item.image is defined and item.image is not empty %}
            <a href="event-details?param1=class" >
              <img src="{{ item.image }}" alt="Event Image" class="event-list-image">
            </a>
          {% else %}
            <img src="" class="event-list-image" />
          {% endif %}
            </a>
        </div>
        <div class="card-bottom">
          <div class="card-wrapper" >
            <div class="card-title">
              <a href="event-details?param1=class" >
                <h3 class="event-list-title">Classes</h3>
              </a>
              <p class="description">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. </p>
              <a href="" class="view_events">View Events  <img src=""><img> </a>
 
            </div>
          </div>
        </div>
      </div>
 
         <div class="card-container">
        <div class="card-top">
               {% if item.image is defined and item.image is not empty %}
            <a href="">
              <img src="{{ item.image }}" alt="Event Image" class="event-list-image">
            </a>
          {% else %}
            <img src="" class="event-list-image" />
 
          {% endif %}
            </a>
        </div>
        <div class="card-bottom">
          <div class="card-wrapper" >
            <div class="card-title">
              <a href="event-details?param1=workshop and event" >
                <h3 class="event-list-title">Workshop and events</h3>
              </a>
              <p class="description">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. </p>
              <a href="" class="view_events">View Events <img src=""><img></a>
 
            </div>
          </div>
        </div>
      </div>
 
         <div class="card-container">
        <div class="card-top">
               {% if item.image is defined and item.image is not empty %}
            <a href="">
              <img src="{{ item.image }}" alt="Event Image" class="event-list-image">
            </a>
          {% else %}
            <img src="" class="event-list-image" />
            
          {% endif %}
            </a>
        </div>
        <div class="card-bottom">
          <div class="card-wrapper" >
            <div class="card-title">
              <a href="event-details?param1=trial" >
                <h3 class="event-list-title">Trial Classes</h3>
              </a>
              <p class="description">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. </p>
              <a href="" class="view_events">View Events <img src=" "><img></a>
            </div>
          </div>
        </div>
      </div>
 
  </div>
</div> #}